/AulaCincoJava/nbproject/private/
/AulaCincoJava/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/dist/
/OlaMundoJavaFX/build/
/AulaCincoJava/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSwing/nbproject/private/
/IdiomaSwing/build/
/ResolucaoSwing/nbproject/private/
/ResolucaoSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/calculadoraIdade/nbproject/private/
/calculadoraIdade/build/
/calculadoraAnoAtual/nbproject/private/
/calculadoraAnoAtual/build/
